@import '~normalize.css/normalize';

$color-primary: #6f263d;
$color-secondary: #236192;
$color-tertiary: #a7b1b7;

h1,
h2,
h3,
h4,
h5 {
  font-family: "Mukta", sans-serif;
}
p,
figcaption,
th,
td {
  font-family: "Mukta", sans-serif;
}